label {
  font-size: 20px;
  margin-bottom: 10px;
}

.form {
  max-width: 360px;
}

input[type='number'] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #808080;
  border-radius: 4px;
  margin-bottom: 25px;
  outline: none;
  transition: border-color 250ms ease;
}

input[type='number']:hover {
  border-color: #000;
}

input[type='number']:focus {
  border-color: #4e75ff;
}

fieldset {
  padding: 20px;
  margin-bottom: 10px;
  transition: border-color 250ms ease;
}
fieldset:hover {
  border-color: #000;
}
fieldset:has(input[value='fulfilled']:checked),
fieldset:has(input[value='rejected']:checked) {
  border-color: #000;
}

legend {
  font-size: 20px;
}

fieldset label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  margin-right: 30px;
  cursor: pointer;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button {
  color: #fff;
  width: 100%;
  padding: 18px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  cursor: pointer;
  transition: background-color 250ms ease;
}

button:hover {
  background-color: #6c8cff;
}
